.about {
    //position: absolute;
    //top: 20%;
    //left: 20%;
    &__headline {
        color: #999;
        font-size: clamp(3rem, 10vw, 8rem);
        margin-bottom: 10px;
        text-align: center;
    }
    &__lower-text {
        display: flex;
    }
    &__role {
        padding: 20px;
    }
    &__desc {
        max-width: 300px;
        padding: 20px;
    }
}
