.sidebar {
    background-color: $black;
    position: fixed;
    display: flex;
    align-items: flex-start;
    // width: 100vw;
    width: 100vw;
    height: 10vh;
    // flex-direction: row;
    &__skills-container {
        display: none;
    }
}

// @include media-breakpoint-up(md) {
    @include respond-to('medium') {
        .sidebar {
        flex-direction: column;
        height: 100vh;
        width: $sidebar-width;
        max-width: 360px;
        align-items: center;
        padding: $sidebar-padding;
            &__skills-container {
                display: block;
            }
        }
    }
